.modal-overlay {
  @include cover;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0;
  @include transition;
  &.show {
    display: flex;
    opacity: 1;
  }
  .modal {
    padding: 4rem 4rem;
    background: white;
    min-width: 50%;
    h5 {
      margin: 0 0 3rem;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        display: flex;
        justify-content: space-between;
        @include transition;
        &:nth-child(1) {
          justify-content: flex-start;
          align-items: center;
          padding: 1.5rem;
          cursor: pointer;
          span {
            margin-right: 1rem;
          }
        }
        div {
          font-size: 1.8rem;
          cursor: pointer;
          padding: 1.5rem;
          &:nth-child(2) {
            color: $red;
          }
          span {
            font-size: 1.4rem;
            color: rgba(0, 0, 0, 0.5);
          }
        }
        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
    .modal-edit {
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        width: 45%;
        input {
          border: $light-border;
          padding: 1rem;
        }
      }
      button {
        border: none;
        background: none;
        padding: 1rem;
        &:after {
          opacity: 0;
        }
        span {
          color: $primary;
          font-size: 2rem;
        }
      }
    }
    .modal-delete {
      text-align: center;
      button {
        display: block;
        margin: 2rem auto;
        border: 1px solid $red;
        background: $red;
        color: $light;
      }
    }
  }
}
