.edit {
  width: 100%;
  border-left: $light-border;
  overflow: scroll;
  .edit-buttons {
    text-align: right;
    button {
      color: $mid-grey;
      font-size: 1.8rem;
      background: none;
      border: none;
      opacity: 0.8;
      padding: 1rem 1.5rem;
      @include transition;
      &:after {
        background: none;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  input[type="text"] {
    font-size: 3rem;
    border: none;
    outline: none;
    padding: 1rem;
  }
  textarea {
    border: none;
    border-top: $light-border;
    outline: none;
    padding: 1rem;
  }
}
