@mixin container() {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin cover() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin transition() {
  transition: all 0.25s;
}
