.delete-account {
  h1 {
    margin: 1.5rem;
  }
  img {
    max-width: 350px;
    display: block;
    margin: 0 auto 2rem;
  }
  p {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    button {
      margin-top: 8rem;
      background: $red;
      border: none;
      color: $light;
    }
  }
  div {
    margin: 1.5rem;
  }
}
