nav {
  background: $primary;
  color: $light;
  div {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      a {
        font-size: 3.2rem;
        color: $light;
        text-decoration: none;
        img {
          max-height: 5.2rem;
        }
      }
    }
    ul {
      list-style: none;
      display: flex;
      li {
        a {
          font-size: 1.6rem;
          padding: 10px;
          color: $light;
          text-decoration: none;
        }
      }
    }
  }
}
